<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <!-- <%-include('navbar')%> -->
    <h1><li>Product Details of ID: <%=product.id%></li></h1>
    <h3>Name: <%=product.name%></h3>
    <h3>Price: <%=product.price%></h3>
    <h3>QTY: <%=product.qty%></h3>
    <h3>Description: <%=product.description%></h3>
    <hr>

    <div>
        <a href="/product/update/<%=product.id%>">Update</a>
        <a href="/product/delete/<%=product.id%>">Delete</a>
    </div>
</body>
</html>